:root {
    /* body */
    --body-color: #0a192f;
   --body-light: #ebddc9; 
    /* ecriture */
    --color-dark:#0a192f ;
    --color-light:#fcf5eb ;
    
    --light-navy: #112240;
    --lightest-navy: #233554;
    --navy-shadow: rgba(2,12,27,0.7);

    /* petit titre et numero */
    /* --green: #4588e0; */
    --blue: #64ffda;

    --font-mono: 'SF Mono','Fira Code','Fira Mono','Roboto Mono',monospace;
    --font-sans: 'Calibre', sans-serif;
    /* --fz-xxs: 12px; */
    --fz-xs: 13px;
    /* --fz-md: 16px; */
    --fz-lg: 18px;
    --fz-xl: 1.25rem;
    /* --fz-xxl: 22px; */
    --fz-heading: 32px;
    --border-radius: 4px;
    /* --nav-height: 100px; */
    /* --nav-scroll-height: 70px;
    --tab-height: 42px;
    --tab-width: 120px;
    --easing: cubic-bezier(0.645,0.045,0.355,1); */
    --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);

}





/* GLOBAL  */


body {
    margin: 0px;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden; 
   -webkit-font-smoothing: antialiased;
    background-color: var( --body-color);
    color: var(--color-light);
    font-family: var(--font-sans);
    font-size: var(--fz-xl);
    line-height: 1.3;
}

main{
    margin: 0px auto;
    width: 100%;
    max-width: 1600px;
    min-height: 100vh;
     padding: 0px 150px; 
    /* padding: 200px 150px; */
}

section {
    margin: 0px auto;
    padding: 60px 0px;
    max-width: 1000px;
}
@media only screen and (max-width: 960px){
     #projects{
        padding-top: 80px;
      }
    }


h1, h2, h3, h4, h5, h6 {
    margin: 0px 0px 10px;
    font-weight: 600;
    color: var(--color-light);
    line-height: 1.1;
}

p {
    margin: 0px 0px 15px;
}

.number_heading {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    width: 100%;
    font-size: clamp(26px,5vw,var(--fz-heading));
    white-space: nowrap;
}
@media only screen and (max-width: 425px){
    .number_heading {
        font-size: 1.3rem;
    }
   }



.number_heading::after {
    content: "";
    display: block;
    position: relative;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: var(--lightest-navy);
}

.nbr-head {
    position: relative;
    margin-right: 10px;
    color: var(--blue);
    font-weight: 400;
    font-family: var(--font-mono);
}

.nbr-head a{
text-decoration: none;
color: var(--blue);
}

@media only screen and (max-width: 1080px){

    main {
      padding: 0px 100px;
    }
}

@media only screen and (max-width: 768px){
main {
  padding: 0px 50px;
}
}


 /* SOCIAL ICON  */
 .btn-toggle {
    fill: var(--color-light);
cursor: pointer;
width: 1.5rem;
}



.arrow_up a {
    width: 40px;
    position: fixed;
    bottom: 0px;
    left:auto ;
    right: 10px;
    z-index: 10;
}
.arrow_up i {
    padding: 8px;
    margin-bottom:20px;
}

.arrow_up a::after {
    content: "";
    display: block;
    width: 1px;
    height: 50px;
    margin: 0px auto;
    background-color: var(--color-light);
}

.arrow_up .fa-circle-arrow-up{
    color:  var(--color-light);
font-size: 1.5rem;
    }

.left_social {
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: 40px;
    right: auto;
    z-index: 10;
  }

  .SocialList {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.SocialList li{
    padding: 10px;
}

.SocialList li:last-child{
    padding-bottom: 30px;
}

.SocialList i {
color: var(--color-light);
}
.SocialList li:hover i {
    transform: translateY(-5px);
color: var(--blue);
}

.SocialList::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: var(--color-light);
}

  
@media only screen and (max-width: 768px){
.left_social  {
display: none;   
 }

}

/* *
* NAVBAR ===========================================================================
*/
#offcanvasNavbar{
    background-color: var(--body-color);
}

.navbar-scrolled{
    background-color: var(--body-color);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15 );
}

.navbar {
    font-family: var(--font-mono);
    transition: all 0.5s;
}
    
    nav svg {
        max-width: 100%;
        width: 48px;
        height: 42px;
        fill: currentcolor;
        vertical-align: middle;
    }  

.logo-container {
    position: relative;
    z-index: 1;
}

#logo {
    color: var(--blue);
}

.logo-container svg {
    fill: none;
    transition: var(--transition);
    user-select: none;
}
 

.nbr-nav {
    position: relative;
    margin-right: 10px;
    position: relative;
    margin-right: 10px;
    color: var(--blue);
    font-weight: 400;
    font-family: var(--font-mono);
    font-weight: 400;
    font-family: var(--font-mono);
}

.nav-link{
    color: var(--color-light) !important;
}
@media only screen and (max-width: 990px){
    .nbr-nav {
        color: var(--blue);
        display: block;
        margin-bottom: 5px;
        font-size: var(--fz-sm);
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .offcanvas-body{
        display: flex;
        margin-top: 5rem;
    -moz-box-pack: justify;
    justify-content: space-between;
    -moz-box-align: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    font-family: var(--font-mono);
    text-align: center;
    }
    
    .offcanvas-body ul{
        padding: 0px;
        margin: 0px;
        list-style: none;
        width: 100%;}
    
    .offcanvas-body ul li {
      position: relative;
      margin: 0px auto 20px;
      counter-increment: item 1;
      font-size: clamp(var(--fz-sm),4vw,var(--fz-lg));
    }
    
    .offcanvas-body li a {
            display: inline-block;
            text-decoration: none;
            text-decoration-skip-ink: auto;
            color: inherit;
            position: relative;
            transition: var(--transition);
            width: 100%;
            padding: 3px 20px 20px;
          }
  }

/* 
* HERO SECTION ======================================================================================
*/


.Hero_Section {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
   /* min-height: 100vh;
    height: 100vh;  */
   
}

.big-heading  {
    margin: 0px;
    font-size: clamp(40px, 8vw, 80px);
}

.Hero_Section h3 {
    margin-top: 10px;
    color: var(--slate);
    line-height: 0.9;
}

.Hero_Section p {
    margin: 40px 0px 0px;
    max-width: 640px;
    text-align: justify

}

/* Media queries for responsive adjustments */
@media (max-width: 768px) {
  
    .Hero_Section {
        padding: 100px 0px; /* Adjust padding as per your needs */
        width: 350px;
      }
    .Hero_Section p{
        width: 90%; /* Adjust padding as per your needs */
        margin-top: 20px;
      }
  .big-heading {
    font-size: clamp(25px, 6vw, 50px);
      }

}
@media only screen and (max-width: 695px){

    section .big-heading {
        font-size: clamp(15px, 8vw, 30px);
    }
  }



 /* 
 * about SECTION ========================================================================
 */


@media only screen and (max-width: 768px){

     .About_Section {
    width: 350px;
} 
  }



.inner {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 50px;
    text-align: justify;
}

@media only screen and (max-width: 768px){

    .inner {
        display: block;
      
    }
    .About_Pic{
        margin: 50px auto 0px;
        width: 70%;
    }
  }


.inner p > a {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    position: relative;
    transition: var(--transition);
    color: var(--blue);
}

.inner p:last-child,.inner p:last-of-type {
    margin: 0px;
}

.about_Style ul.skills-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    gap: 0px 10px;
    padding: 0px;
    margin: 20px 0px 0px;
    overflow: hidden;
    list-style: none;
    font-family: var(--font-mono);
}

.about_Style ul.skills-list li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 30px;
    padding-left: 30px;
    font-size: var(--fz-lg);
}



.about_Style ul.skills-list .php::before {
    font-family: 'Font Awesome 6 Brands';
    content: "\f457";
    position: absolute;
    left: 0px;
    color: var(--blue);
    font-size: 1rem;
}

.about_Style ul.skills-list .boot::before {
    font-family: 'Font Awesome 6 Brands';
    content: "\f836";
    position: absolute;
    left: 0px;
    color: var(--blue);
    font-size: 1rem;
}

.about_Style ul.skills-list .react::before {
    font-family: 'Font Awesome 6 Brands';
    content: "\f41b";
    position: absolute;
    left: 0px;
    color: var(--blue);
    font-size: 1rem;
}

.about_Style ul.skills-list .api::before {
    font: var(--fa-font-solid);
    content: "\f1c0";
    position: absolute;
    left: 0px;
    color: var(--blue);
    font-size: 1rem;
}

.about_Style ul.skills-list .js::before {
    font-family: 'Font Awesome 6 Brands';
    content: "\f3b9";
    position: absolute;
    left: 0px;
    color: var(--blue);
    font-size: 1rem;
}

.about_Style ul.skills-list .cms::before {
    font-family: 'Font Awesome 6 Brands';
    content: "\f411";
    position: absolute;
    left: 0px;
    color: var(--blue);
    font-size: 1rem;
}

.about_Style ul.skills-list .symfo::before {
    font-family: 'Font Awesome 6 Brands';
    content: "\f83d";
    position: absolute;
    left: 0px;
    color: var(--blue);
    font-size: 1rem;
}

.about_Style ul.skills-list .sql::before {
    font: var(--fa-font-solid);
    content: "\f1c0";
    position: absolute;
    left: 0px;
    color: var(--blue);
    font-size: 1rem;
}

.about_Style ul.skills-list .dock::before {
    font-family: 'Font Awesome 6 Brands';
    content: "\f395";
    position: absolute;
    left: 0px;
    color: var(--blue);
    font-size: 1rem;
}

.about_Style ul.skills-list .mongo::before {
    font-family: 'Font Awesome 6 Brands';
    content: "\f299";
    position: absolute;
    left: 0px;
    color: var(--blue);
    font-size: 1rem;
}

.about_Style ul.skills-list .git::before {
    font-family: 'Font Awesome 6 Brands';
    content: "\f1d3";
    position: absolute;
    left: 0px;
    color: var(--blue);
    font-size: 1rem;
}

.about_Style ul.skills-list .ng::before {
    font-family: 'Font Awesome 6 Brands';
    content: "\f420";
    position: absolute;
    left: 0px;
    color: var(--blue);
    font-size: 1rem;
}

.about_Style ul.skills-list .nest::before {
    content: "";
    background-image: url('https://raw.githubusercontent.com/devicons/devicon/master/icons/nestjs/nestjs-plain.svg');
    background-size: contain;
    width: 1em;
    height: 1em;
    position: absolute;
    left: 0px;
    font-size: 1rem;
}


.About_Pic {
    position: relative;
    max-width: 300px;
}

.About_Pic .wrapper {
    box-shadow: 0 10px 30px -15px var(--navy-shadow);
    transition: var(--transition);
    display: block;
    position: relative;
    width: 100%;
    border-radius: var(--border-radius);
    background-color: var(--blue);
}

.About_Pic .wrapper:hover, .About_Pic .wrapper:focus {
    outline: 0px;
    transform: translate(-4px, -4px);
  }
  .About_Pic .wrapper:hover, .About_Pic .wrapper:focus {
    box-shadow: 0 20px 30px -15px var(--navy-shadow);
  }
.About_Pic .wrapper:hover:after{
    transform: translate(8px, 8px);
  }
 

.About_Pic .wrapper::before {
    top: 0px;
    left: 0px;
    background-color: var(--navy);
    mix-blend-mode: screen;
}
.About_Pic .wrapper::before, .About_Pic .wrapper::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    transition: var(--transition);
}

.About_Pic .wrapper::after {
    border: 2px solid var(--blue);
    top: 14px;
    left: 14px;
    z-index: -1;
}

 /* JOBS SECTION */

 .tabs-container {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
    align-items: flex-start;
    padding: 0;
    margin: auto;
    align-self: flex-start !important;
    flex-direction: row;
}

@media (max-width: 960px) {
    .tabs-container {
        flex-direction: column;
   }
}
.tabs-container .tabs {
    border: none;
    width: max-content;
    height: 100%;
}
@media (max-width: 960px) {
    .tabs-container .tabs {
        width: 100%;
        display: flex;
        overflow-x: auto;
   }
}

.tabs-container a{
    font-family: var(--font-mono);
    font-size: var(--fz-xl);
    color: var(--slate);
    transition: .3s ease;
    text-decoration: none;
}
.tabs-container .tabs a, .tabs-container .tabs .tab {
    padding-block: 11px;
    padding-inline: 22px;
    font-size: 15px;
    background-color: transparent;
    transition: background-color 0.1s ease-out;
}
.tabs-container .tabs a:hover, .tabs-container .tabs .tab:hover {
    transition: background-color 0.2s ease-in;
    color: var(--blue);
}

.tabs-container .tabs a.active, .tabs-container .tabs .tab.active {
    background-color: transparent;
    transition: background-color 0.1s ease-out;
    padding-inline-start: 20px;
    font-weight: bold;
}
@media (min-width: 961px) {
    .tabs-container .tabs a, .tabs-container .tabs .tab {
        display: block;
        border-left-style: solid;
        border-left-width: 1px;
        border-left-color: var(--blue);
        text-align: left;
   }
    .tabs-container .tabs a:hover, .tabs-container .tabs .tab:hover {
        border-left-color: var(--blue);
   }
    .tabs-container .tabs a.active, .tabs-container .tabs .tab.active {
        border-left-color: var(--blue);
        border-left-width: 3px;
            color: var(--blue);
   }
}
@media (max-width: 960px) {
    .tabs-container .tabs a, .tabs-container .tabs .tab {
        display: inline-block;
        width: max-content;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: var(--blue);
        text-align: left;
   }
    .tabs-container .tabs a:hover, .tabs-container .tabs .tab:hover {
        border-bottom-color: var(--blue);
   }
    .tabs-container .tabs a.active, .tabs-container .tabs .tab.active {
        border-bottom-color: var(--blue);
        border-bottom-width: 3px;
   }
}
.tabs-container .tabs-content {
    position: relative;
    float: left;
    padding-block-start: 11px;
    padding-inline-start: 30px;
    border: none;
    width: calc(100% - 30px);
    min-height: max-content;
    text-align: left;
}

.tabs-container .tabs-content p:before{
    content: "▹";
    margin-right: 20px;
    color: var(--blue);
}

@media (max-width: 960px) {
    .tabs-container .tabs-content {
        padding-inline-start: 11px;
        width: calc(100% - 11px);
   }
}

@media (max-width: 425px) {
    .tabs-container .tabs-content {
       width: 350px;
   }
}

.tab-subtitle{
font-weight: 600;
font-size: 1rem;
}
.tabs-container .tabs-content .content {
    display: none;
    position: relative;
    width: 100%;
}
.tabs-container .tabs-content .content.active {
    display: initial;
}
.tabs-container .tabs-content .content .tab-title {
    font-size: 20px;
    color: var(--blue);
    margin-block: 0 0.5rem;
}
.tabs-container .tabs-content .content .tab-title h1 {
    font-size: inherit;
    color: inherit;
    width: 100%;
}
.tabs-container .tabs-content .content .tab-title .icons {
    float: right;
    margin-inline-start: 10px;
    min-width: max-content;
}
.tabs-container .tabs-content .content .tab-title .icons a.icon {
    color: var(--blue);
}


.tabs-container .tabs-content .content .tab-tags {
    font-size: 13px;
    color: var(--blue);
    margin-block-end: 0.5rem;
}
.tabs-container .tabs-content .content p, .tabs-container .tabs-content .content .tab-content {
    font-size: 15px;
}
.tabs-container .tabs-content .content a {
    color: var(--blue);
}
.tabs-container .tabs-content .content a:hover {
    text-decoration: underline;
}

/* Projet portfolio  */

.projects_list  {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

@media (max-width: 325px) {
    .projects_list {
        margin-left: 80px;
        }
}


.projects_list  a {
    text-decoration: none;
    color: var(--color-light);
}

.projects_list:not(:last-of-type) {
    margin-bottom: 100px;
}

.projects_list .project_card  {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}


.project_card > .project-content {
    flex-basis: calc(66.66% - 10px);
    margin-bottom: 10px;
  }
  
  .project_card > .project-image {
    flex-basis: calc(33.33% - 10px);
    margin-bottom: 10px;
  }

  .projects_list:nth-child(odd) .project-content {
    margin-left: auto;
    text-align: right;
  }
  
  .projects_list li .project-content {
    position: relative;
  }
  

.project-overline {
    margin: 10px 0px;
    color: var(--blue);
    font-family: var(--font-mono);
    font-size: var(--fz-lg);
    font-weight: 700;
}

.project-title {
    font-size: clamp(24px, 5vw, 28px);
}

.project-title a {
    position: relative;
    z-index: 1;
}

.project-description {
    /* box-shadow: 0 10px 20px -15px var(--color-light); */
    font-size: 17px;
    line-height: 1.5;
    background-color: var(--light-navy);
    color: var(--color-light);
      border-radius: 10px;
    }
    .project-description p{
font-weight: 500;    
    padding: 10px 25px;
}
@media (max-width: 620px) {
    .project-description p{
        width: 350px;
        }
}


.projects_list:nth-child(odd) .project-tech-list li {
  margin: 0px 0px 5px 20px;
}

.projects_list .project-tech-list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
    margin: 25px 0px 10px;
    padding: 0px;
    list-style: none;
}

.projects_list:nth-child(odd) .project-tech-list li {
    margin: 0px 0px 5px 20px;
}

.projects_list .project-tech-list li {
    margin: 0px 20px 5px 0px;
    color: var(--color-light);
    font-family: var(--font-mono);
    font-size: var(--fz-lg);
    white-space: nowrap;
}



.projects_list:nth-child(odd) .project-links {
    justify-content: flex-end;
    margin-left: 0px;
    margin-right: -10px;
  }

.projects_list .project-links {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin-top: 10px;
    margin-left: -10px;
    color: var(--color-light);
}

.project-links a {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 10px;
}

.project-links a {
    position: relative;
    z-index: 1;
}

.project-links  a:hover i,  .project-card-links a:hover i,
 .project-card:hover, .project-title  a:hover
{
    transform: translateY(-5px);
    color: var(--blue);
}

.projects_list:nth-child(odd) .project-image {
    order: -1;
  }

  .projects_list .project-image {
    box-shadow: 0 10px 30px -15px var(--navy-shadow);
    transition: var(--transition);
    position: relative;
    z-index: 1;
  }
  .projects_list .project-img {
    display: none;
}
  @media (max-width: 768px) {
    .projects_list hr {
        margin: 10px;
border: 1px solid var(--blue);  
 }
    .projects_list .project-image {
       display: none;
   }
    .projects_list .project-img {
       display: block;
   }
   .projects_list .project_card  {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: justify;
}
.project-overline, .project-title {
    text-align: center;
}

.project-overline {
    padding-top:20px;
}


}
.projects_list  .project-image a {
    width: 100%;
    height: 100%;
    background-color: var(--blue);
    border-radius: var(--border-radius);
    vertical-align: middle;
}

.project-image a {
    position: relative;
    z-index: 1;
}

.project-image a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0px;
    z-index: 3;
    transition: var(--transition);
    background-color: var(--navy);
    mix-blend-mode: screen;
}

.project-card
{
    box-shadow: 0 10px 30px -15px var(--navy-shadow);
    background-color: var(--light-navy);
    color: var(--color-light);
height: 100%;

}
.project-card p
{
    color: var(--color-light);
    font-size: 17px;

}
.project-card h2 a:hover
{
    color: var(--blue);
}

.project-card h2 a 
{
    color: var(--color-light);
    text-decoration: none;
    font-size: 25px;
}


.card-skill p
{
color: var(--color-light);
font-family: var(--font-mono);
font-size: 11px;
margin-right: 15px;
}
.card-skill 
{
display: flex;
align-items: flex-end;
    margin-top:20px;
padding: 0px;
flex-wrap: wrap;
position: absolute;
bottom: 0;
}


.project-card-top {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 35px;
}
.project-card-top .folder{
    color: var(--blue);
   
}

 .project-card-links a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--color-light);
}
 .project-card-links {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--color-light);
}
/* contact */

#contact {
max-width: 600px;
text-align: center;
}

 .overline {
    display: block;
    margin-bottom: 20px;
    color: var(--blue);
    font-family: var(--font-mono);
    font-size: var(--fz-xl);
    font-weight: 700;
}

#contact .title {
    font-size: clamp(40px, 5vw, 60px);
}

#contact .email-link {
    color: var(--blue);
    background-color: transparent;
    border: 1px solid var(--blue);
    border-radius: var(--border-radius);
    padding: 1.25rem 1.75rem;
    font-size: var(--fz-xl);
    font-family: var(--font-mono);
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    transition: var(--transition);
    margin-top: 50px;
}


@media (max-width: 411px) {
    #contact .email-link {
        padding: .9rem .9rem;
        font-size: var(--fz-xs);
    }
}




#contact .mobile_social{
    display: none;
 }
   
 @media only screen and (max-width: 768px){
    #contact .mobile_social{
        margin-top: 120px;
     }
     #contact .mobile_social_footer  li:hover i {
        transform: translateY(-5px);
    color: var(--blue);
    }
    #contact .mobile_social_footer{
     display : flex ;
     align-items: center;
     list-style: none;
     justify-content: space-between;
     
  }
  #contact .mobile_social_footer li{
     justify-content: space-between;
     color: white;
  }
  #contact .mobile_social_footer i{
     color: white;
  }
  #contact .mobile_social{
     display: block;
  }
 }
 

